header, footer {
    background-color: #636940;
    color: white;
    padding: 15px;
    margin: 5px;
  }
  
  .roboto {
    font-family: "Roboto", serif;
  }
  
  .inter {
    font-family: "Inter", serif;
  }
  
  .header-links {
    display: flex;
    justify-content: space-between;
    padding: 0% 10% 0% 10%
  }
  
  .header-links a{
    color: #272626;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    text-align: center;
    margin-top: 15px;
  }
  
  .title {
    text-align: center;
  }
  
  .header-title {
    margin: 0px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0% 10% 0% 10%
  }
  
  .footer-bottom a, .footer-bottom p{
    color: #272626;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 140px;
    height: 20px;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
  }
  
  .footer-bottom .copyright {
    width: 220px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    padding-bottom: 0px;
  }
  
  .footer-title {
    margin: 0px;
  }